@model Persona

@{
    ViewData["Title"] = "Crear persona";
}

<div class="offset-3 col-6">
    <h2>Crear Persona</h2>

    <div id="message" role="alert"></div>

    @using (Html.BeginForm())
    {
        <div class="mb-3">
            <label for="nombres" class="form-label">Nombres:</label>
            <input type="text" id="nombres" name="nombres" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="apellidoPaterno" class="form-label">Apellido Paterno:</label>
            <input type="text" id="apellidoPaterno" name="apellidoPaterno" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="apellidoMaterno" class="form-label">Apellido Materno:</label>
            <input type="text" id="apellidoMaterno" name="apellidoMaterno" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="nivelEducativo" class="form-label">Nivel Educativo:</label>
            <input type="text" id="nivelEducativo" name="nivelEducativo" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="numeroCelular" class="form-label">Número de Celular:</label>
            <input type="tel" id="numeroCelular" name="numeroCelular" class="form-control" required>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

    }

    <div>
        <a href="@Url.Action("Index")" class="mb-3"> Regresar al inicio</a>
    </div>
</div>

@section Scripts {
    <script src="~/js/personas/crear-persona.js" asp-append-version="true"></script>
}